:root {
    font-size: 62.5%;
    font-family: sans-serif;
    box-sizing: border-box;

    --txt-color: #E1E1E6;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    background-color: rgb(122, 158, 159);
    color: var(--txt-color);
}

body nav {
    margin: 4rem 0 4rem 7rem;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;

    position: absolute;
    top: 0;
    left: 0;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--txt-color);
}

.explorationBox {
    height: 100vh;
    width: 100vw;

    background-image: url('../src/imgs/exploration.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    place-content: center;
}

.homeBox {
    height: 100vh;
    width: 100vw;

    background-image: url('../src/imgs/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    place-content: center;
}

.universeBox {
    height: 100vh;
    width: 100vw;

    background-image: url('../src/imgs/mountains-universe02.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: grid;
    place-content: center;
}
